<!DOCTYPE html> 
<html>
  <head>
    <title>Xgame</title>
    <%- include std_bootstrap %>
  </head>
  <body>
    <%- include std_nav %>
    <div id="container" class="container">
	    <h1><%= message %></h1>
		<h2><%= error.status %></h2>
		<pre><%= error.stack %></pre>
    <%- include std_footer %>
    </div>
  </body>
</html>