<!DOCTYPE html> 
<html>
  <head>
    <title>Xgame</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      .content {
        margin-top: 50px;
        margin-bottom: 50px;
      }

      .planets {
        height:300px;
        overflow: hidden;
        padding:0;
        position:relative;
      }

      .planets-info {
        width:300px;
        height:100px;
        position:absolute;
        bottom:0;
        right:0;
        -webkit-border-radius:5px 0 0 0;
        -moz-border-radius:5px 0 0 0;
        border-radius:5px 0 0 0;
        background:#141E28;
        filter: alpha(opacity=60);
        -moz-opacity: .6;
        -khtml-opacity: .6;
        opacity: .6;
        z-index: 1;
      }

      .planets-info-content {
        width:290px;
        height:90px;
        position:absolute;
        bottom:0;
        right:0;
        padding: 5px;
        z-index: 2;
      }

      .planets-info-content table {
        width:100%;
      }

      .planets-info-content table th {
        width:30%;
        text-align: left;
        padding: 4px;
        color:#6F9FCD;
      }

      .planets-info-content table td {
        width:70%;
        text-align: right;
        padding: 4px;
        color:#FFF;
      }

      .planets-name {
        width:500px;
        height:40px;
        position:absolute;
        top:5px;
        right:5px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        background:#141E28;
        filter: alpha(opacity=60);
        -moz-opacity: .6;
        -khtml-opacity: .6;
        opacity: .6;
        z-index: 3;
      }

      .planets-name-content {
        color:#FFF;
        width:480px;
        height:30px;
        line-height: 30px;
        font-size: 20px;
        position:absolute;
        top:5px;
        right:5px;
        padding: 5px 10px;
        z-index: 4;
      }
    </style>
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <%- include ../user_nav %>
 
    <div id="container" class="container">
      <div class="row content">
        <div class="span2">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#">Planets</a></li>
            <li><a href="#">Building</a></li>
            <li><a href="#">Science</a></li>
            <li><a href="#">Fleets</a></li>
          </ul>
        </div>
        <div class="span10">
          <div class="navbar">
            <div class="navbar-inner">
              <a class="brand"><%= locals.role.role_name %><small> (<%= species %>)</small></a>
              <ul class="nav">
                <li><a><span class="label label-info">感知+<strong><%= locals.role.role_perception %></strong></span></a></li>
                <li><a><span class="label label-info">毅力+<strong><%= locals.role.role_perseverance %></strong></span></a></li>
                <li><a><span class="label label-info">智力+<strong><%= locals.role.role_intelligence %></strong></span></a></li>
                <li><a><span class="label label-info">魅力+<strong><%= locals.role.role_enchantment %></strong></span></a></li>
                <li><a><span class="label label-info">记忆+<strong><%= locals.role.role_memory %></strong></span></a></li>
              </ul>
            </div>
          </div>
          <div class="thumbnail planets" style="background:url(/img/planet_001.png) no-repeat;">
            <div class="planets-name"></div>
            <div class="planets-name-content">概况 - 艾尔兵工厂 II</div>
            <div class="planets-info"></div>
            <div class="planets-info-content">
              <table>
                <tr>
                  <th>直径</th>
                  <td>12,800公里(1/163)</td>
                </tr>
                <tr>
                  <th>气温</th>
                  <td>30°C 至 70°C</td>
                </tr>
                <tr>
                  <th>所在位置</th>
                  <td>波菲塔里斯 &gt; 米苏 &gt; A</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    <%- include ../std_footer %>
    </div>
  </body>
  <script src="/javascripts/jquery.min.js"></script> 
  <script src="/javascripts/bootstrap.js"></script> 
</html>