<!DOCTYPE html> 
<html>
  <head>
    <title>Xgame</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/public.css" rel="stylesheet">
  </head>
  <body>
    <%- include ../user_nav %>
 
    <div id="container" class="container">
      <div class="row content">
        <div class="span2">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="/game/overview">Overview</a></li>
            <li class="active"><a href="/game/planets">Planets</a></li>
            <li><a href="#">Science</a></li>
            <li><a href="#">Fleets</a></li>
          </ul>
        </div>
        <div class="span10">
          <%- include ./resource_panel %>
          <div class="row-fluid">
            <h3>殖民行星</h3>
            <ul class="thumbnails">
              <% for(var i = 0; i < planets.length; i++) { %>
              <li>
                <a href="/game/planet/<%= planets[i].id %>" class="thumbnail">
                  <img src="/images/planet/image/<%= planets[i].id %>_small.png" />
                  <h5 class="text-center"><%= planets[i].name %></h5>
                </a>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    <%- include ../std_footer %>
    </div>
  </body>
  <script src="/javascripts/jquery.min.js"></script> 
  <script src="/javascripts/bootstrap.js"></script> 
</html>