<!DOCTYPE html> 
<html>
  <head>
    <title>Xgame</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/public.css" rel="stylesheet">
  </head>
  <body>
    <%- include ../user_nav %>
 
    <div id="container" class="container">
      <div class="row content">
        <div class="span2">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="/game/overview">Overview</a></li>
            <li class="active"><a href="/game/planets">Planets</a></li>
            <li><a href="#">Science</a></li>
            <li><a href="#">Fleets</a></li>
          </ul>
        </div>
        <div class="span10">
          <div class="navbar navbar-inverse">
            <div class="navbar-inner">
              <a class="brand" style="padding-top:25px"><%= locals.role.role_name %><small> (<%= species %>)</small></a>
              <ul class="nav">
                <li class="divider-vertical" style="height:72px;"></li>
                <li><a>
                  <div><img src="/images/resources_titanium.png" /></div>
                  <div class="text-center"><strong><%= locals.role.resources.titanium %></strong></div>
                </a></li>
                <li><a>
                  <div><img src="/images/resources_crystal.png" /></div>
                  <div class="text-center"><strong><%= locals.role.resources.crystal %></strong></div>
                </a></li>
                <li><a>
                  <div><img src="/images/resources_hydrogen.png" /></div>
                  <div class="text-center"><strong><%= locals.role.resources.hydrogen %></strong></div>
                </a></li>
                <li><a>
                  <div><img src="/images/resources_water.png" /></div>
                  <div class="text-center"><strong><%= locals.role.resources.water %></strong></div>
                </a></li>
                <li><a>
                  <div><img src="/images/resources_organics.png" /></div>
                  <div class="text-center"><strong><%= locals.role.resources.organics %></strong></div>
                </a></li>
              </ul>
            </div>
          </div>
          <div class="row-fluid">
            <h3>殖民行星</h3>
            <ul class="thumbnails">
              <% for(var i = 0; i < planets.length; i++) { %>
              <li>
                <a href="/game/planet/<%= planets[i].id %>" class="thumbnail">
                  <img src="/images/planet/image/<%= planets[i].id %>_small.png" />
                  <h5 class="text-center"><%= planets[i].name %></h5>
                </a>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    <%- include ../std_footer %>
    </div>
  </body>
  <script src="/javascripts/jquery.min.js"></script> 
  <script src="/javascripts/bootstrap.js"></script> 
</html>