<% if(locals.planet) { %>
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand" style="padding-top:25px"><%= locals.planet.name %></a>
        <ul class="nav">
            <li class="divider-vertical" style="height:72px;"></li>
            <li><a>
                    <div><img src="/images/resources_titanium.png" /></div>
                    <div class="text-center"><strong><%= parseInt(locals.planet.resources.titanium) %></strong></div>
                </a></li>
            <li><a>
                    <div><img src="/images/resources_crystal.png" /></div>
                    <div class="text-center"><strong><%= parseInt(locals.planet.resources.crystal) %></strong></div>
                </a></li>
            <li><a>
                    <div><img src="/images/resources_hydrogen.png" /></div>
                    <div class="text-center"><strong><%= parseInt(locals.planet.resources.hydrogen) %></strong></div>
                </a></li>
            <li><a>
                    <div><img src="/images/resources_water.png" /></div>
                    <div class="text-center"><strong><%= parseInt(locals.planet.resources.water) %></strong></div>
                </a></li>
            <li><a>
                    <div><img src="/images/resources_organics.png" /></div>
                    <div class="text-center"><strong><%= parseInt(locals.planet.resources.organics) %></strong></div>
                </a></li>
        </ul>
    </div>
</div>
<% } %>